.settings
.classpath
.project
tiles
*.log
.cproject
.libs
.deps
*.lo
*.la
*.o
*.so
config.status
libtool
*.class
target
autom4te.cache
*.scan
*.tar.gz
aclocal.m4
configure
Build (GNU)
.autotools
*.esproj
TissueStackServer
TissueStackPreTiler
TissueStackConverter
binaries
*.war
test
*~
~
/bin/
dist
build
node_modules
.env
tissuestack-data
postgres-data
docker-compose.override.yml