.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.scrollable {
position: absolute;
top: 50px;
left: 0px;
right: 0px;
bottom: 0px;
overflow: scroll;
-webkit-overflow-scrolling: touch;
}

/*for coords, pixel and world coords*/

.boxgrid{  
    width: 300px;  
    height: 300px;  
    margin:10px;   
    background:#161613;  
    border: solid 1px white;  
    overflow: hidden;  
    position: relative;  
}  
.boxgrid img{  
    position: absolute;  
    top: 0px;  
    left: 0px;  
    border: 0px;  
}  
.boxcaption{  
    position: absolute;  
    background: #000;  
    height: 100px;  
    width: 100%;  
    opacity: .7;  
    /* For IE 5-7 */  
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);  
    /* For IE 8 */  
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";  
    }  
.captionfull .boxcaption {  
		text-align: left;
		color: green;
        top: 260px;  
        left: 0px;
        font-size: 10px;
        z-index: 2000;
		text-shadow: 0 0 1px green;
	}  
.caption .boxcaption {
        top: 220;  
        left: 0px;  
        font-size: 10px;
        z-index: 2000;    
    } 
    
    
/* detect screen size and locate the area of width and height and overlay vanvas  */

.dataset {  
	margin: 5px;
 	float: left; 
	border: 1px solid #fff;	
	position: relative; 
	width: 640px;
	height: 200px;
} 
.plane_view{
	position: relative; 
	top: 0px; 
	left: 0px;
	width: 640px;
	height: 200px;
}

.canvasview{
	position: relative; 
	left: 0px; 
	top: 0px;
	width: 640px;
	height: 200px;
}
.plane{
	position: absolute; 
	left: 0px; 
	top: 0px; 
	z-index: 749;
}
.cross_overlay{ 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	z-index: 1490;
}

.left_panel{
	margin: 5px;
	width: 20%;
	float: left; 
	color: white;
	left: 0px; 
	position: relative; 
	font-size: 12px;
}

.right_panel{
	position: relative;
	width: 5%;
	float: left;
	color: white;
	/*-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);*/
	z-index: 1800;	
}

.coords_show_bottom{
	float: left;
	color: white;
	bottom: 0px;
	z-index: 1800;	
}
.settings-left-column {
	text-align: center;
	margin: 5px;
	float: left;
	width: 45%	
}

.settings-right-column {
	text-align: center;
	margin: 5px;
	float: left;
	width: 45%	
}

/* VERTICAL SLIDER CSS*/
label.ui-slider-vertical { 
	display: block; 
}

a.ui-slider-handle-vertical .ui-btn-inner{ 
	padding-left: 0; 
	padding-right: 0;
}

div.ui-slider-vertical{ 
	position: relative; 
	display: inline-block; 
	overflow: visible; 
	height: 250px; 
	padding: 0; 
	margin: 0 2% 0 20px; 
	top: 4px; 
	width:15px; 
}
label.ui-slider-vertical{ 
	display: inline-block;  
	width: 20%;  
	margin: 0 2% 0 0; 
}
div.ui-slider-vertical{ 
	width: 15px; 
}
a.ui-slider-handle-vertical{
	position: absolute; 
	z-index: 10;  
	top: 50%; 
	width: 28px; 
	height: 28px; 
	margin-top: -15px; 
	margin-left: -8px; 
}

/* HORIZONTAL SLIDER CSS*/
label.ui-slider-horizontal { 
	display: block; 
}

a.ui-slider-handle-horizontal .ui-btn-inner{ 
	padding-top: 0; 
	padding-bottom: 0;
	padding-left: 0; 
	padding-right: 0;
}

div.ui-slider-horizontal{ 
	position: relative; 
	display: inline-block; 
	overflow: visible; 
	height: 15px; 
	padding: 0; 
	margin: 0 2% 0 20px; 
	left: 0px; 
	width: 195px;
}
label.ui-slider-horizontal{ 
	display: inline-block;  
	height: 20%;  
	margin: 0 2% 0 0; 
}
div.ui-slider-horizontal{ 
	height: 15px; 
}
a.ui-slider-handle-horizontal{
	position: absolute; 
	z-index: 10;  
	top: 50%; 
	width: 28px; 
	height: 28px; 
	margin-top: -15px; 
	margin-left: -8px; 
}

.maximize_view_icon {
	position: absolute;
	z-index: 5000;
	right: 0px;
	top: 0px;
}

/*CANVAS VIEW*/

.left_side_view {
	z-index: 2390;
	border: 1px solid #fff;
	position: absolute; left: 10px; bottom: 10px;
	width: 300px;
	height: 200px;	
}

.right_side_view {
	z-index: 2390;
	border: 1px solid #fff;
	position: absolute; right: 10px; bottom: 10px;
	width: 300px;
	height: 200px;
}

.side_canvas {
	position: absolute; left: 0px; top: 0px;
	z-index: 2400;
}

.side_canvas input {
	width: 65px;
}

.hidden {
    display:none; 
    visibility: false;
}

/*ADMIN PAGE LOGIN INTERFACE*/
#page_container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 904px;
	top: -32px;
}
.panel_button {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 1px;
	width: 173px;
	height: 54px;
	background: url(../images/panel_button.png);
	z-index: 20;
	filter:alpha(opacity=70);
	-moz-opacity:0.70;
	-khtml-opacity: 0.70;
	opacity: 0.70;
	cursor: pointer;
}
.panel_button img {
	position: relative;
	top: 10px;
	border: none;
}
.panel_button a {
	text-decoration: none;
	color: #545454;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: 5px;
	left: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.panel_button a:hover {
	color: #999999;
}

#toppanel {
	position: absolute;
	width: 900px;
	left: 0px;
	z-index: 25;
	text-align: center;

}
#panel {
	width: 900px;
	position: relative;
	top: 1px;
	height: 0px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	overflow: hidden;
	text-align: left;
}
#panel_contents {
	background: black;
	filter:alpha(opacity=70);
	-moz-opacity:0.70;
	-khtml-opacity: 0.70;
	opacity: 0.70;
	height: 100%;
	width: 904px;
	position: absolute;
	z-index: -1;
}

.border {
	border: 15px #1d1d1d solid;
}

div#login {
	width: 250px;
	height: 150px;
	position: absolute;
	left: 300px;
	top: 110px;
	text-align: center;
}
div#login p {
	color: #CCCCCC;
	font-family: Century Gothic, Georgia, "Times New Roman", Times, serif;
	line-height: 30px;
}

/*ERROR MESSAGE STYLE*/
.error_message{
	font-size: 22px;
	background: #e87676;
	height:50px;
	width:100%;
	background-color: #e97575;
	position:fixed;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95); 
	opacity: 0.95;
	-moz-opacity: 0.95;
	text-align:center;
	left:0px;
	z-index:9999999;
	margin:0px;
	padding:0px;
	bottom:0px;
}
