.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;
}
.scrollable {
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.touch_scrolling{
	overflow: scroll;
	-webkit-overflow-scrolling:touch;
}
/*for coords, pixel and world coords*/

.boxgrid{  
    width: 300px;  
    height: 300px;  
    margin:10px;   
    background:#161613;  
    border: solid 1px white;  
    overflow: hidden;  
    position: relative;  
}  
.boxgrid img{  
    position: absolute;  
    top: 0px;  
    left: 0px;  
    border: 0px;  
}  
.boxcaption{
    position: absolute;  
    background: #000;  
    height: 50px;  
    width: 100%;  
    opacity: .7;  
    /* For IE 5-7 */  
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);  
    /* For IE 8 */  
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";  
    }  
.captionfull .boxcaption {  
		text-align: left;
		color: green;
        top: 260px;  
        left: 0px;
        font-size: 10px;
        z-index: 2000;
		text-shadow: 0 0 1px green;
	}  
.caption .boxcaption {
        top: 220;  
        left: 0px;  
        font-size: 10px;
        z-index: 2000;    
    } 
    
    
/* detect screen size and locate the area of width and height and overlay vanvas  */

.dataset {  
	margin: 5px;
 	float: left; 
	border: 1px solid #fff;	
	position: absolute; 
	width: 640px;
	height: 200px;
} 
.plane_view{
	position: relative; 
	top: 0px; 
	left: 0px;
	width: 640px;
	height: 200px;
}

.canvasview{
	position: relative; 
	left: 0px; 
	top: 0px;
	width: 640px;
	height: 200px;
}
.plane{
	position: absolute; 
	left: 0px; 
	top: 0px; 
	z-index: 749;
}
.cross_overlay{ 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	z-index: 1490;
}

.left_panel{
	margin: 5px;
	width: 20%;
	float: left; 
	color: white;
	left: 0px; 
	position: absolute; 
	font-size: 12px;
}

.right_panel{
	position: absolute;
	width: 5%;
	float: left;
	color: white;
	/*-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);*/
	z-index: 1800;	
}

.coords_show_bottom{
	float: left;
	color: white;
	bottom: 0px;
	z-index: 1800;	
}
.settings-left-column {
	text-align: center;
	margin: 10px;
	float: left;
	width: 45%;	
	height: 400px;
	overflow-y: auto;	
}
.settings-tablet-left-column {
	text-align: center;
	float: left;
	width: 30%	
}
.settings-right-column {
	text-align: center;
	margin: 10px;
	float: right;
	width: 45%;
	height: 400px;
	overflow-y: auto;	
}
.settings-tablet-right-column {
	text-align: center;
	float: right;
	width: 68%;	
}
.setting-buttom-column{
	width: 98.5%;
	bottom:0px;
	margin: 10px;
	position:fixed;
	z-index:999;
	padding:0px;
}

/* VERTICAL SLIDER CSS*/
label.ui-slider-vertical { 
	display: block; 
}

a.ui-slider-handle-vertical .ui-btn-inner{ 
	padding-left: 0; 
	padding-right: 0;
}

div.ui-slider-vertical{ 
	position: relative; 
	display: inline-block; 
	overflow: visible; 
	height: 250px; 
	padding: 0; 
	margin: 0 2% 0 20px; 
	top: 4px; 
	width:15px; 
}
label.ui-slider-vertical{ 
	display: inline-block;  
	width: 20%;  
	margin: 0 2% 0 0; 
}
div.ui-slider-vertical{ 
	width: 15px; 
}
a.ui-slider-handle-vertical{
	position: absolute; 
	z-index: 10;  
	top: 50%; 
	width: 28px; 
	height: 28px; 
	margin-top: -15px; 
	margin-left: -8px; 
}

/* HORIZONTAL SLIDER CSS*/
label.ui-slider-horizontal { 
	display: block; 
}

a.ui-slider-handle-horizontal .ui-btn-inner{ 
	padding-top: 0; 
	padding-bottom: 0;
	padding-left: 0; 
	padding-right: 0;
}

div.ui-slider-horizontal{ 
	position: relative; 
	display: inline-block; 
	overflow: visible; 
	height: 15px; 
	padding: 0; 
	margin: 0 2% 0 20px; 
	left: 0px; 
	width: 195px;
}
label.ui-slider-horizontal{ 
	display: inline-block;  
	height: 20%;  
	margin: 0 2% 0 0; 
}
div.ui-slider-horizontal{ 
	height: 15px; 
}
a.ui-slider-handle-horizontal{
	position: absolute; 
	z-index: 10;  
	top: 50%; 
	width: 28px; 
	height: 28px; 
	margin-top: -15px; 
	margin-left: -8px; 
}

.maximize_view_icon {
	position: absolute;
	z-index: 5000;
	right: 0px;
	top: 0px;
}

/*CANVAS VIEW*/

.tile_count_div {
	border: 1px solid #fff;
    z-index: 5000;
    position: absolute; left: 45%; bottom: 10px;
    height: 25px;
    width: 150px;
    background-color: #7AA7B6;
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */    
}
.tile_count_div span.plane_1 {
    background-color: transparent;
    position: absolute;
    font-weight: bold;
    top: 15%;
    left: 5px;
    text-align: center;
}
.tile_count_div span.plane_2 {
    background-color: transparent;
    position: absolute;
    font-weight: bold;
    top: 15%;
    left: 50px;
    text-align: center;
}
.tile_count_div span.plane_3 {
    background-color: transparent;
    position: absolute;
    font-weight: bold;
    top: 15%;
    left: 100px;
    text-align: center;
}

.left_side_view {
	z-index: 2390;
	border: 1px solid #fff;
	position: absolute; left: 10px; bottom: 10px;
	width: 300px;
	height: 200px;	
}

.right_side_view {
	z-index: 2390;
	border: 1px solid #fff;
	position: absolute; right: 10px; bottom: 10px;
	width: 300px;
	height: 200px;
}

.side_canvas {
	position: absolute; left: 0px; top: 0px;
	z-index: 2390;
}

.side_canvas input {
	width: 65px;
}

.hidden {
    display:none; 
    visibility: false;
}

/*PROGRESS BAR FOR UPLOAD FILES*/

.progress { position:relative; width:90%; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.statusCompleted { position:relative; width:150px; border: 2px solid #686868; padding: 1px; border-radius: 3px;}
.bar { background-color: #70e0b4; width:0%; height:20px; border-radius: 3px;}
.percent { position:absolute; display:inline-block; top:3px; left:48%; }

/*ERROR MESSAGE STYLE*/
.error_message{
	font-size: 22px;
	background: #e87676;
	height:50px;
	width:100%;
	background-color: #e97575;
	position:fixed;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95); 
	opacity: 0.95;
	-moz-opacity: 0.95;
	text-align:center;
	left:0px;
	z-index:9999999;
	margin:0px;
	padding:0px;
	bottom:0px;
}

/* SCALE DISTANCE CONTROL */
.scalecontrol_main{
	height: 26px; 
	z-index: 2400; 
	position: absolute;
	left: 10px;
	top: 10px; 
	color: white; 
	font-family: Arial, sans-serif; 
	font-size: 11px;
}
.scalecontrol_middle{
	overflow: hidden; 
	position: absolute; 
	left: 1px; 
	top: 11px; 
	width: 92px; 
	height: 4px;
}
.scalecontrol_left{
	overflow: hidden; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 4px; 
	height: 26px;
}
.scalecontrol_center_right{
	overflow: hidden; 
	position: absolute; 
	left: 92px; 
	top: 11px; 
	width: 1px; 
	height: 4px;
}
.scalecontrol_center_left{
	overflow: hidden; 
	position: absolute; 
	left: 0px; 
	top: 11px; 
	width: 1px; 
	height: 4px;
}
.scalecontrol_up{
	overflow: hidden; 
	position: absolute; 
	left: 59px; 
	top: 0px; 
	width: 4px; 
	height: 12px;
}
.scalecontrol_down{
	overflow: hidden; 
	position: absolute; 
	left: 89px; 
	top: 14px; 
	width: 4px; 
	height: 12px;
}
.dataset_1_scalecontrol_image, .dataset_2_scalecontrol_image{
	margin: 0px; 
	padding: 0px; 
	position: absolute; 
	height: 492px;
	background: url(/images/distance_scale.png);
}
.scalecontrol_text_down{
	position: absolute; 
	left: 0px; 
	top: 15px;
}
.scalecontrol_text_up{
	position: absolute; 
	left: 25px; 
	top: -3px;
}

/*URL Link*/
.url_link_main{
	height: 30px; 
	z-index: 2400; 
	position: absolute;
	right: 10px;
	top: 10px; 
	color: white; 
	font-family: Arial, sans-serif; 
	font-size: 11px;
}
.url_box {
	display: none;
	background:#DDD;
	border:solid 1px #FFF;
	border-radius:1px;
	box-shadow: 0 0 5px #000000;
	background:-webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e8e8e8));
	background:-moz-linear-gradient(top,#f4f4f4,#e8e8e8);
	background:linear-gradient(top,#f4f4f4,#e8e8e8);
	padding:8px;
	position:absolute;
    width: 550px;
	height: 40px;
	top: 40px;
	right: 5px;;
}
.url_arrow {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #f4f4f4;
	position:absolute;
	top:-10px;
	right: 10px;
	z-index:1001;
}

.url_arrow-border {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #e8e8e8;
	position:absolute;
	top:-12px;
	right: 10px;
	z-index:1000;
}
.url_link_message{
	height: 40px;
	z-index: 2400; 
	position: absolute;
	right: 10px;
	top: 8px; 
	color: blue; 
    text-decoration: underline; 
    text-align: center;
	font-size: 13px;
	font-family: Arial; 
	text-shadow: 0 0 1px rgba(255, 255, 255, 0);
}
/*Contrast CSS*/
.contrast_main{
	height: 30px; 
	z-index: 2400; 
	position: absolute;
	right: 56px;
	top: 10px; 
	color: white; 
	font-family: Arial, sans-serif; 
	font-size: 11px;
}
.contrast_box{
	display: none;
	z-index: 2400;
	background:#DDD;
	border:solid 1px #FFF;
	border-radius:1px;
	box-shadow: 0 0 5px #000000;
	background:-webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e8e8e8));
	background:-moz-linear-gradient(top,#f4f4f4,#e8e8e8);
	background:linear-gradient(top,#f4f4f4,#e8e8e8);
	padding:8px;
	position:absolute;
	top: 40px;
	right: 10px;;
}
.contrast_slider{
	position: absolute;
	left: 0px;
	top: -17px;
	z-index: 2400;	
}
/*ColorMap CSS*/
.color_map_main {
    height: 30px; 
    z-index: 2400; 
    position: absolute;
    right: 141px;
    top: 10px; 
    color: white; 
    font-family: Arial, sans-serif; 
    font-size: 11px;
}
.color_map_style{
	-webkit-appearance: none;
	appearance: none;
	width: 110px;
	height: 30px;
	background: #5383e2;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0px 1px 0px #3373A5;
	text-transform: uppercase;
	padding: 7px 10px;
	border-color: #1e6d6f;
	border-width: 1px;
	border-style: solid;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0px 1px 0px #185f60;
	font: normal bold 11px Helvetica;	
}
.color_map_style:focus{
	color: #000000;
}
/*Top Right Button Style*/
.top_right_button {
	display: inline-block;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5383e2), color-stop(100%,#4075de));
	background: -moz-linear-gradient(center top, #5383e2 0%, #5686e6 100%);
	background: #5383e2; /*For IE*/
	-webkit-box-shadow: 0px 1px 0px #6591e9 inset;
	-moz-box-shadow: 0px 1px 0px #6591e9 inset;
	box-shadow: 0px 1px 0px #6591e9 inset;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0px 1px 0px #3373A5 ;
	padding: 7px 10px;
	border-color: #1e6d6f;
	border-width: 1px;
	border-style: solid;
	font-family: Helvetica;
	font-size: 11px;
	color: #105354;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}
.top_right_button:hover {
	text-shadow: 0px 1px 0px #185f60;
	color: #ffffff;
}
.top_right_button:active {
	-webkit-box-shadow: 1px 1px 5px 1px #207c7d inset;
	-moz-box-shadow: 1px 1px 5px 1px #207c7d inset;
	box-shadow: 1px 1px 5px 1px #207c7d inset;
 }
/*Create Table in Admin*/
#task_list{
	height:180px; 
	position:relative; 
	overflow:auto;
}
.conversion-table
{
	font-size: 12px;
	height: 180px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	text-shadow: 0 0 0px #4f3e3e;
}
.conversion-table th
{
	padding: 15px 10px 10px 10px;
	font-weight: normal;
	font-size: 14px;
	color: #c7800e;
	background-color: #d2d1cf;
}
.conversion-table tbody
{
	background: #e8edff;
}
.conversion-table td
{
	padding: 10px;
	color: #669;
	border-top: 1px dashed #fff;
}
.conversion-table tbody tr:hover td
{
	color: #339;
	background: #d0dafd;
}
/*Progress Bar for Task*/
/* Firefox - value portion of progress bar */
.progress_bar::-moz-progress-bar {
background-color:  #70e0b4;
}

/* Chrome, Safari - value portion of progress bar */
.progress_bar::-webkit-progress-value {
background-color:  #70e0b4;
}

/* All other attributes */
.progress_bar {
background-color: #F0F0F0;
border:  2px solid #686868;
border-radius: 3px;
padding: 1px;
height: 25px;
width: 100%;
}

.progress_bar_div {
	position: relative;
}

.progress_bar_text {
	background-color: transparent;
	position: absolute;
	font-weight: bold;
	top: 20%;
	left: 50%;
	text-align: center;
}
/*Take out all process bar function for tablet becasue it doesn't work in tablet*/
.progress_bar_text_tablet {
	background-color: transparent;
	position: absolute;
	color: #669;
	margin-top: -8.5px;
	left: 20%;
	text-align: left;
}
.transparency_knob_div {
	z-index: 1590;
	position: absolute;
	top:35px;
	left:22px;
}

.overlay_swapper {
	z-index: 2400;
	position: absolute;
	right: 10px;
	top: 50px;
}
