canvas {
	cursor: url(../images/cursor.cur) 16 16, url(../images/cursor.gif) 16 16, auto;
}
.boxgrid{  
    width: 300px;  
    height: 300px;  
    margin:10px;  
    float:left;  
    background:#161613;  
    border: solid 2px #8399AF;  
    overflow: hidden;  
    position: relative;  
}  
.boxgrid img{  
    position: absolute;  
    top: 0;  
    left: 0;  
    border: 0;  
}  
.boxcaption{  
    float: left;  
    position: absolute;  
    background: #000;  
    height: 100px;  
    width: 100%;  
    opacity: .8;  
    /* For IE 5-7 */  
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);  
    /* For IE 8 */  
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";  
    }  
.captionfull .boxcaption {  
        top: 260;  
        left: 0;  
    }  
.caption .boxcaption {  
        top: 220;  
        left: 0;  
    }  			