.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.scrollable {
position: absolute;
top: 50px;
left: 0px;
right: 0px;
bottom: 0px;
overflow: scroll;
-webkit-overflow-scrolling: touch;
}

/*for coords, pixel and world coords*/

.boxgrid{  
    width: 300px;  
    height: 300px;  
    margin:10px;   
    background:#161613;  
    border: solid 1px white;  
    overflow: hidden;  
    position: relative;  
}  
.boxgrid img{  
    position: absolute;  
    top: 0px;  
    left: 0px;  
    border: 0px;  
}  
.boxcaption{  
    position: absolute;  
    background: #000;  
    height: 100px;  
    width: 100%;  
    opacity: .6;  
    /* For IE 5-7 */  
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);  
    /* For IE 8 */  
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";  
    }  
.captionfull .boxcaption {  
		text-align: left;
        top: 260px;  
        left: 0px;
        font-size: 10px;
        z-index: 2000;  
    }  
.caption .boxcaption {
        top: 220;  
        left: 0px;  
        font-size: 10px;
        z-index: 2000;    
    } 
    
    
/* detect screen size and locate the area of width and height and overlay vanvas  */

.canvaslocate {  
	margin: 5px;
 	float: left; 
	border: 1px solid #fff;	
	position: relative; 
	width: 640px;
	height: 200px;
} 
.plane_view{
	position: relative; 
	top: 0px; 
	left: 0px;
	width: 640px;
	height: 200px;
}

.canvasview{
	position: relative; 
	left: 0px; 
	top: 0px;
	width: 640px;
	height: 200px;
}
.plane{
	position: absolute; 
	left: 0px; 
	top: 0px; 
	z-index: 749;
}
.cross_overlay{ 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	z-index: 1490;
}

.coords_show_left{
	margin: 5px;
	width: 20%;
	float: left; 
	color: white;
	left: 0px; 
	position: relative; 
	font-size: 12px;
}

.coords_show_right{
	position: relative;
	width: 5%;
	float: left;
	color: white;
	/*-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);*/
	z-index: 1800;	
}

.coords_show_bottom{
	float: left;
	color: white;
	bottom: 0px;
	z-index: 1800;	
}
.settings-left-column {
	text-align: center;
	margin: 5px;
	float: left;
	width: 45%	
}

.settings-right-column {
	text-align: center;
	margin: 5px;
	float: left;
	width: 45%	
}

/* VERTICAL SLIDER CSS*/
label.ui-slider-vertical { 
	display: block; 
}

a.ui-slider-handle-vertical .ui-btn-inner{ 
	padding-left: 0; 
	padding-right: 0;
}

div.ui-slider-vertical{ 
	position: relative; 
	display: inline-block; 
	overflow: visible; 
	height: 250px; 
	padding: 0; 
	margin: 0 2% 0 20px; 
	top: 4px; 
	width:15px; 
}
label.ui-slider-vertical{ 
	display: inline-block;  
	width: 20%;  
	margin: 0 2% 0 0; 
}
div.ui-slider-vertical{ 
	width: 15px; 
}
a.ui-slider-handle-vertical{
	position: absolute; 
	z-index: 10;  
	top: 50%; 
	width: 28px; 
	height: 28px; 
	margin-top: -15px; 
	margin-left: -8px; 
}

/* HORIZONTAL SLIDER CSS*/
label.ui-slider-horizontal { 
	display: block; 
}

a.ui-slider-handle-horizontal .ui-btn-inner{ 
	padding-top: 0; 
	padding-bottom: 0;
	padding-left: 0; 
	padding-right: 0;
}

div.ui-slider-horizontal{ 
	position: relative; 
	display: inline-block; 
	overflow: visible; 
	height: 15px; 
	padding: 0; 
	margin: 0 2% 0 20px; 
	left: 0px; 
	width: 195px;
}
label.ui-slider-horizontal{ 
	display: inline-block;  
	height: 20%;  
	margin: 0 2% 0 0; 
}
div.ui-slider-horizontal{ 
	height: 15px; 
}
a.ui-slider-handle-horizontal{
	position: absolute; 
	z-index: 10;  
	top: 50%; 
	width: 28px; 
	height: 28px; 
	margin-top: -15px; 
	margin-left: -8px; 
}

.maximize_view_icon {
	position: absolute;
	z-index: 5000;
	right: 0px;
	top: 0px;
}

#left_side_view_canvas {
	z-index: 2390;
	border: 1px solid #fff;
	position: absolute; left: 10px; bottom: 10px;
	width: 300px;
	height: 200px;	
}

#right_side_view_canvas {
  	filter:alpha(opacity=0); /* For IE8 and earlier */
	z-index: 2390;
	border: 1px solid #fff;
	position: absolute; right: 10px; bottom: 10px;
	width: 300px;
	height: 200px;
}

.side_canvas {
	position: absolute; left: 0px; top: 0px;
	z-index: 2400;
}

.side_canvas input {
	width: 65px;
}