Package: tissuestack
Version: 1.1-1
Architecture: amd64
Maintainer: Harald Waxenegger <harald.waxenegger@gmail.com>
Installed-Size: 365
Depends: libc6 (>= 2.15), libglib2.0-0 (>= 2.22.0), libgraphicsmagick3 (>= 1.3.5), libminc2-1, libnifti2
Section: graphics
Priority: extra
Homepage: http://tissuestack.com
Description: Tissue Stack Image Server for on-the-fly tile generation and minc/nifti to .raw conversion
