Source: tissuestack
Section: graphics
Priority: extra
Maintainer: Harald Waxenegger <harald.waxenegger@gmail.com>
Build-Depends: debhelper (>= 7.5.0), libminc-dev, libnifti-dev, libgraphicsmagick-dev, libglib2.0-dev, libc6-dev dcmtk-dev
Standards-Version: 3.9.3
Homepage: http://tissuestack.com

Package: tissuestack
Architecture: any
Pre-Depends: apache2, postgresql
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tissue Stack is an open source web based image viewer which allows the user to view 3D data as 2D cross sections. While at its core it's modelled after GIS web mapping applications, it's intended use is for neuro-imaging. Tissue Stack aims at serving its data as image tiles which can be both pre-tiled in advance or created on the fly by extracting from the original source file. The used file formats will be anything that is supported by the MINC Tool Kit (http://www.bic.mni.mcgill.ca/ServicesSoftware/ServicesSoftwareMincToolKit) as well as the nifti format(http://nifti.nimh.nih.gov/).
