#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_clean:
	make clean

override_dh_auto_configure:

override_dh_auto_build:
	make dist VERSION=${TISSUESTACK_BUILD_VERSION}

override_dh_auto_install:
	mkdir install_files
	cd install_files; tar xvzf /tmp/tissuestack_build/tissuestack-${TISSUESTACK_BUILD_VERSION}.tar.gz >> /tmp/tissuestack-$1_deb_build.log
	mv install_files/post-install.sh debian/postinst
	mv install_files/pre-install.sh debian/preinst
	mv install_files/pre-uninstall.sh debian/prerm	
	mv install_files/post-uninstall.sh debian/postrm

override_dh_usrlocal:

override_dh_shlibdeps:	
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
